<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
	<title>SimpleChatServer</title>
    <link rel="stylesheet" href="/login-reset.css">
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
	<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/login-style.css">  
    <link rel='stylesheet' type='text/css' href='/style.css'>	
  </head>

  <body>
    
        <ul id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/Register.html">Register</a></li>
            <li><a href="Login.html">Login</a> </li>
            <li class="pad"></li>
        </ul>
    
<div class="pen-title">
  <h1>   Welcome To ChatServer..</h1>
</div>
<!-- Form Module-->
<div class="module form-module">
  <div class="toggle"><i class="fa fa-times fa-pencil"></i>
  </div>
  <div class="form">
    <h2>Login to your account</h2>
    <form id="frm" action="/Login.html" method="post">
      <input type="text" placeholder="Username" name="username"/>
      <input type="password" placeholder="Password" name="password"/>
      <button>Login</button>
    </form>
  </div>
  <div class="cta"><a href="Register.html">Create an Account></div>
</div>
    
  </body>
</html>
